// font-sizes
$base-font: 1rem;
$font-size-xs: $base-font * 0.25;
$font-size-sm: $base-font * 0.5;
$font-size-md: $base-font * 0.75;
$font-size-lg: $base-font * 1.5;
$font-size-xl: $base-font * 2;
$font-size-xxl: $base-font * 3;

// padding
$base-padding: 1rem;
// margin
$base-margin: 1rem;
// border radius
$base-border-radius: 1rem;
